/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica;
}

ul{
    list-style-type: none;
    display: flex;
}

ul li{
    margin-left: 1.5em;
}

.menu{
    top: -.8em;
    position: relative;
}

.head{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: .8em;
}